@model IEnumerable<Garlic_WebClient.Models.HomePageModel>

@{
    ViewBag.Title = "Garlic - Home";
}

<div id="home">
    <div id="left">
        <div id="header">
            @foreach (var property in Model) {
                <p id="clove_name">@property.CloveName</p>
                <p id="clove_description">@property.CloveDescription</p>
                if (property.CloveID >= 0) {
                    @Html.ActionLink("Find out more about this clove", "Details", "Clove", new { id = property.CloveID }, new { })
                }
            }
        </div>

        @using (@Html.BeginForm()) {
            <div class="form-horizontal">
                <input name="searchstring" type="text" />
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        }

        <div>@Html.ActionLink("Write something yourself...", "Write", "Home")</div>
        <table id="artilces">
            <tr>
                <th>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSort })</th>
                <th>@Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSort })</th>
                <th>@Html.ActionLink("Votes", "Index", new { sortOrder = ViewBag.VoteSort })</th>
            </tr>
            @foreach (var property in Model) {
                foreach (var article in property.CloveArticles) {
                    <tr>
                        <td><a>@Html.ActionLink(article.a_title, "Index", "Read", new { article_id = article.a_p_id }, new { })</a></td>
                        <td><p>Autor: @article.p_u_username</p></td>
                        <td><p>Votes: @article.voteCount</p></td>
                    </tr>
                }
            }
        </table>
    </div>

    <div id="cloves">
        <div id="header">
            Cloves
            @Html.ActionLink("+", "Create", "Clove")
        </div>
        @using (Html.BeginForm()) {
            <div class="form-group">
                @Html.ListBox("clove", null, htmlAttributes: new { @class = "from-control" })
                <input type="submit" value="Switch" class="btn btn-default"/>
            </div>
        }
    </div>
</div>
