@model IEnumerable<Garlic_WebClient.Models.Fusion>

@{
    ViewBag.Title = "Garlic - Home";
}

<div id="home">
    <div id="left">
        <div id="header">
            @foreach (var property in Model) {
                <p id="clove_name">@property.CloveName</p>
                <p id="clove_description">@property.CloveDescription</p>
            }
        </div>
        <table id="artilces">
            @foreach (var property in Model) {
                foreach (var article in property.CloveArticles) {
                    <li>
                        <a>@Html.ActionLink(article.a_title, "Index", "Read", new { article_id = article.a_p_id }, new { })</a>
                        <p>Autor: @article.p_u_username</p>
                        <p>Votes: @article.voteCount</p>
                    </li>
                }
            }
        </table>
    </div>  

    <div id="cloves">
        <div id="header">
            <p>Cloves</p>
            <a>&#43;</a>
        </div>
        <!--
        <ul>
            @foreach (var property in Model) {
                foreach (var clove in property.Cloves) {
                    <li>
                        @*Html.ActionLink(clove.c_name, "Index", "Home", new { clove = clove.c_name }, new { })*@
                    </li>
                }
            }
        </ul>-->

        @using (Html.BeginForm()) {
            <div class="form-horizontal">
                @Html.ListBox("clove", null, htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Switch" class="btn btn-default" />
            </div>
        }

    </div>
</div>
