@model IEnumerable<Garlic_WebClient.Models.p_posts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.p_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a_articles.a_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_u_username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.p_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a_articles.a_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_users.u_password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.p_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.p_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.p_id })
        </td>
    </tr>
}

</table>
